@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BrewBuddy.Pages.Statistikker.StatistiksModel
@{
}
<h1>statistik</h1>

@foreach (var group in Model.Stat.GroupBy(s => s.MachineId))
{
    <h2>Maskine Id: @group.Key</h2> @* Vis maskineid for hver gruppe *@

    <table>
        <thead>
            <tr>
                <th>Dato</th>
                <th>Type</th>
                <th>Amount</th>
                <th>MonthlyAmount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in group)
            {
                <tr>
                    <td>@s.FinishDateAndTime</td>
                    <td>@s.Type</td>
                    <td>@s.Amount</td>
                    <td>@s.MonthlyAmount</td>
                </tr>
            }
        </tbody>
    </table>
}

<br />

<h1>
    <meta name="viewport" content="width=device-width" />
    <script src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>

    <script src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <title>ColumnChart</title>
</h1>

<section>
    <form method="post">

        <div>
            @Html.Raw(Model.ChartJson)
        </div>
      <br />
    </form>
</section> 
 

